.ipynb_checkpoints/
REPTILES/
dataset/aus_2016_shapefiles/
dataset/aus_reptile/
dataset/aus_shp/
dataset/nsw_latest_2023.csv
dataset/endangered_species/
Untitled.ipynb
dataset/wildfire_sa2_level/
dataset/wildfire_sa2_level.zip
dataset/SA2_2021_AUST_GDA2020.*
dataset/wildfire_data.csv
dataset/NSW_fire_history_polygons.geojson
dataset/nsw_2019_sa2.zip
dataset/nsw_2019_sa2/
dataset/data_Australia_filter.csv
dataset/label_data.zip
dataset/nsw_2016_2019_sa2
dataset/2020-2023*
cloud_cover.ipynb